$em_size = 20px
$em_size_small = 14px
$em_size_large = 36px
$em_size_legenda = 18px
$em_size_logo = 80px

div.renderer-wrapper
  font-smoothing antialiased
  width 100%
  margin 0
  padding 0
	.em-size-wrapper
		width 100%
	.em-size
		position absolute
		visibility hidden
		top 0
		line-height 1em
		margin 0 0 0 -1000px
		padding 0
		width 1em
		height 1em

svg
  &.renderer-svg
    fill $color-bg
    font-family $font-sans-light
    text-rendering optimizeLegibility
    box-sizing border-box
    .svg-background
      fill $color-bg
    tspan
      height 1em
      line-height 1em

.d4
  font-size $em_size
  .axis
    .tick
      font-family $font-decimal
      &[data-anchor="middle"]
        text
          text-anchor middle
      text
        fill $color-chart-axis-text
        shape-rendering crispEdges
        text-anchor middle
        font-size $em_size_legenda
      &:first-child
        text
          text-anchor middle
      line
        fill none
        stroke $color-chart-gridline
        stroke-width 1px
        shape-rendering crispEdges
      &.zero
        line
          stroke $color-chart-zeroline
      rect
        fill $color-bg
        shape-rendering crispEdges

    &.leftAxis
      text
        text-anchor start
        


    &.rightAxis
      text
        text-anchor end
    &[data-scale="time"]
      .tick:not([data-anchor="middle"])
        text
          text-anchor middle
          fill $color-body-text
      .tick:first-child
        text
          text-anchor middle
          fill $color-body-text

  .concealer-label
    font-family $font-decimal
    text
      fill $color-body-text
    rect
      fill $color-bg

  .connectors line
    fill none
    stroke-width 1px

  line.zero
    stroke $color-chart-zeroline
    shape-rendering crispEdges

  .margins
    .line, .other-line
      path
        fill none
        stroke-width 3px
        stroke-linecap round
        stroke-linejoin round
    .label
      font-family $font-sans-light

  .column-label
    fill $color-chart-axis-text

  line.no-label-tick
    fill none
    stroke $color-chart-gridline
    stroke-width px
    shape-rendering crispEdges

.svg-text
  &.svg-text-credit
    font-family $font-sans-light
    font-size $em_size*0.6
    fill $color-body-text
    text-anchor start
  &.svg-text-source
    font-family $logo-nexo
    font-size $em_size_logo
    fill $color-chart-gridline
    
    //text
      //dominant-baseline central
    &.left
      text-anchor start
    &.right
      text-anchor end
  &.svg-text-title
    fill $color-body-text
    font-family $font-sans-light
    font-size $em_size
  &.svg-text-linhafina
    fill $color-body-text
    font-family $font-sans-light
    font-size $em_size
   

.svg-source-pipe
	stroke $color-chart-meta
	fill none
	stroke-width 0.8px

.svg-label-text
  font-size $em_size
  font-family Gotham-Light
  cursor move

.crosshair
  line
    stroke-width 1
    shape-rendering crispEdges
    stroke black

.hidden-svg
  visibility hidden

.medium
  .em-size
    font-size $em_size
  .d4
    font-size $em_size

    .margins
      .line, .other-line
        path
          stroke-width 3px

  .svg-text
    font-size $em_size
    &.svg-text-credit
      font-size $em_size*0.6
    &.svg-text-source
      font-size $em_size*6
    &.svg-text-title
      font-size $em_size*1.2

.small
  .em-size
    font-size $em_size_small
  .d4
    font-size $em_size_small

    .margins
      .line, .other-line
        path
          stroke-width 2px

  .svg-text
    font-size $em_size_small
    &.svg-text-credit
      font-size $em_size*0.5
    &.svg-text-source
      font-size $em_size*0.5
    &.svg-text-pipe
      text
        dominant-baseline central
        font-size $em_size*0.6
    &.svg-text-title
      font-size $em_size_small

  .svg-label-text
    font-size $em_size_small


.large
  .em-size
    font-size $em_size
  .d4
    font-size $em_size
    .margins
      .line, .other-line
        path
          stroke-width 4px

  .svg-text
    font-size $em_size
    &.svg-text-credit
      font-size $em_size*0.6
    &.svg-text-source
      font-size $em_size*0.6
    &.svg-text-title
      font-size $em_size

  .svg-label-text
    font-size $em_size

.cb-credit-logo
	fill $color-chart-meta
