
/* latin-ext */
@font-face {
  font-family: 'Gotham-Light';
  font-style: normal;
  font-weight: normal;
  src: url('//fonts/gothamrnd-light-webfont.eot');
  src: url('/fonts/gothamrnd-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothamrnd-light-webfont.woff2') format('woff2'),
       url('/fonts/gothamrnd-light-webfont.woff') format('woff'),
       url('/fonts/gothamrnd-light-webfont.ttf') format('truetype'),
       url('/fonts/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Gotham-Light';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gothamrnd-light-webfont.eot');
  src: url('/fonts/gothamrnd-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothamrnd-light-webfont.woff2') format('woff2'),
       url('/fonts/gothamrnd-light-webfont.woff') format('woff'),
       url('/fonts/gothamrnd-light-webfont.ttf') format('truetype'),
       url('/fonts/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Gotham-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gothamrnd-medium-webfont.eot');
  src: url('/fonts/gothamrnd-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothamrnd-medium-webfont.woff2') format('woff2'),
       url('/fonts/gothamrnd-medium-webfont.woff') format('woff'),
       url('/fonts/gothamrnd-medium-webfont.ttf') format('truetype'),
       url('/fonts/gothamrnd-medium-webfont.svg#gotham_roundedmedium') format('svg');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Gotham-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gothamrnd-medium-webfont.eot');
  src: url('/fonts/gothamrnd-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothamrnd-medium-webfont.woff2') format('woff2'),
       url('/fonts/gothamrnd-medium-webfont.woff') format('woff'),
       url('/fonts/gothamrnd-medium-webfont.ttf') format('truetype'),
       url('/fonts/gothamrnd-medium-webfont.svg#gotham_roundedmedium') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Gotham-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gothamrnd-bold-webfont.eot');
  src: url('/fonts/gothamrnd-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothamrnd-bold-webfont.woff2') format('woff2'),
       url('/fonts/gothamrnd-bold-webfont.woff') format('woff'),
       url('/fonts/gothamrnd-bold-webfont.ttf') format('truetype'),
       url('/fonts/gothamrnd-bold-webfont.svg#gotham_roundedbold') format('svg');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Gotham-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gothamrnd-bold-webfont.eot');
  src: url('/fonts/gothamrnd-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothamrnd-bold-webfont.woff2') format('woff2'),
       url('/fonts/gothamrnd-bold-webfont.woff') format('woff'),
       url('/fonts/gothamrnd-bold-webfont.ttf') format('truetype'),
       url('/fonts/gothamrnd-bold-webfont.svg#gotham_roundedbold') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'NexoJornal';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/nexo-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamDecimal';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GothamDecimal.ttf") format("truetype");
}

/* Generated by Font Squirrel (http://www./fontsquirrel.com) on September 29, 2015 */

