// Typography

// Fonts
$font-sans = 'Gotham-Medium', Arial, Helvetica, sans-serif
$font-sans-light = 'Gotham-Light', Arial, Helvetica, sans-serif
$font-sans-bold = 'Gotham-Bold', Arial, sans-serif
$font-serif = Georgia, serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
$logo-nexo = 'NexoJornal'
$font-decimal = 'GothamDecimal', Arial
